<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital@1&display=swap"
      rel="stylesheet"
    />
    <!--Link iconos-->
    <script
      src="https://kit.fontawesome.com/822f9affd1.js"
      crossorigin="anonymous"
    ></script>

    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <img src="img/logo-mercado-liebre.svg" alt="Logo de la página" />
      </div>
      <div class="busqueda">
        <input class="input-busqueda" type="text" placeholder="Buscar productos, marcas" />
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
        <span class="icono-buscar"></span>
      </div>
      <div class="opciones">
          <p class="cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin
          tarjeta de crédito</p>
        </div>
        <div class="contenedor-nav" >
        <nav class="header-nav">
          <ul type="none" class="ul-elementos">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
          </ul>
        </nav>
     
      <div class="usuario">
        <ul type="none">
          <li>
            <a href="#">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a>
          </li>
          <li>
            <a href="#">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a>
          </li>
          <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
        </ul>
      </div>
      <div class="burger-menu">
         <i class="fas fa-bars"></i>
      </div>
    </div>
  </div>
    </header>

    <main>
      <h2 class="titular">Basado en tu última visita</h2>
      <div class="contenedor-sec">
      <section class="sect-productos">
        <img
          src="/img/img-cafetera-moulinex.jpg"
          alt="Cafetera producto"
          width="300"
        />
        <div class="info-producto">
        <i class="fa-solid fa-truck"></i>
        <p class="precios-productos">$6.770</p>
        <p class="descuentos-productos">40% off</p>
        <h3>Cafetera Moulinex</h3>
      </div>
      </section>
      <section class="sect-productos">
        <img
          src="/img/img-macbook-pro-2019.jpg"
          alt="Cafetera producto"
          width="300"
        />
        <div class="info-producto">
        <i class="fa-solid fa-truck"></i>
        <p class="precios-productos">$230.000</p>
        <p class="descuentos-productos">20% off</p>
        <h3>MacBook Pro 2019</h3>
       </div>

      </section>
      <section class="sect-productos" >
        <img
          src="/img/img-samsung-galaxy-s10.jpg"
          alt="Cafetera producto"
          width="300"
        />
        <div class="info-producto">
        <i class="fa-solid fa-truck"></i>
        <p class="precios-productos">$70.500</p>
        <p class="descuentos-productos">10% off</p>
        <h3>Samsung Galaxy S10</h3>
        </div>
      </section>
      <section class="sect-productos">
        <img
          src="/img/img-tv-samsung-smart.jpg"
          alt="Cafetera producto"
          width="300"
        />
        <div class="info-producto">

        <i class="fa-solid fa-truck"></i>
        <p class="precios-productos">$23.200</p>
        <p class="descuentos-productos">5% off</p>
        <h3>SmartTv Samsung 43</h3>
        </div>
      </section>
    </div>
      <h2 class="titular">Seccion de Ofertas</h2>
      <div class="contenedor-sec">
      <section class="sect-productos">
        <img
          src="/img/img-cafetera-moulinex.jpg"
          alt="Cafetera producto"
          width="300"
        />
        <div class="info-producto">
        <i class="fa-solid fa-truck"></i>
        <p class="precios-productos">$6.770</p>
        <p class="descuentos-productos">40% off</p>
        <h3>Cafetera Moulinex</h3>
        </div>
      </section>
      <section class="sect-productos">
        <img
          src="/img/img-macbook-pro-2019.jpg"
          alt="Cafetera producto"
          width="300"
        />
        <div class="info-producto">
        <i class="fa-solid fa-truck"></i>
        <p class="precios-productos">$230.000</p>
        <p class="descuentos-productos">20% off</p>
        <h3>MacBook Pro 2019</h3>
      </div>
      </section>
      <section class="sect-productos">
        <img
          src="/img/img-samsung-galaxy-s10.jpg"
          alt="Cafetera producto"
          width="300"
        />
        <div class="info-producto">
        <i class="fa-solid fa-truck"></i>
        <p class="precios-productos">$70.500</p>
        <p class="descuentos-productos">10% off</p>
        <h3>Samsung Galaxy S10</h3>
        </div>
      </section>
      <section class="sect-productos">
        <img
          src="/img/img-tv-samsung-smart.jpg"
          alt="Cafetera producto"
          width="300"
        />
        <div class="info-producto">

        <i class="fa-solid fa-truck"></i>
        <p class="precios-productos">$23.200</p>
        <p class="descuentos-productos">5% off</p>
        <h3>SmartTv Samsung 43</h3>
        </div>
      </section>
    </div>
    </main>
    <footer>
      <section class="sec-footer">
        <i class="fa-solid fa-credit-card"></i>
        <h2>Pagá con tarjeta o en efectivo</h2>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </section>

      <section class="sec-footer">
        <i class="fa-solid fa-gift"></i>
        <h2>Envío gratis desde $ 2.500</h2>
        <p>
          Solo por estar registrado en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </section>

      <section class="sec-footer">
        <i class="fa-solid fa-user-shield"></i>
        <h2>Seguridad, de principio a fin</h2>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegido.
        </p>
      </section>

      <p class="copy-right">&copy; 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
  </body>
</html>
