
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Righteous&family=Roboto:ital@0;1&display=swap');


:root {
    --yellow: #eac926;
    --blue: #03264c;
    --blue-light: #1259c3;
    --gray-dark: #666;
    --gray-light: #ebebeb;
    --green: #39b54a;
  }

*{
    box-sizing: border-box;
    margin: 0;

    padding: 0;
    font-family: 'Poppins', sans-serif;
font-family: 'Righteous', sans-serif;
font-family: 'Roboto', sans-serif;
}
body{
  background-color: var(--light-gray);
}
header{
 width: 100%;
 font-family: 'Righteous', sans-serif;
font-family: 'Roboto', sans-serif;
background-color: #EAC926;
 height: 100%;
 padding-bottom: 30px;
}

/*Main */
main {
    width: 90%;
    margin: 0 auto; 
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    justify-content: center;
    align-items: center;
}

.sect-productos img{
width: 100%;
}
.sect-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  border: 1px solid #ebebeb;
  box-shadow: 0px 0px 10px rgb(100, 100, 100); 
  margin: 10px;
  

}
.info-producto {
  padding: 15px;
  border-top: var(--gris-claro) 1px solid;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #ebebeb;
  gap: 0.8rem;
  justify-content: space-around;
  align-items: center;

}
.info-producto p {
  display: flex;
}
.info-producto h3{
  display: flex;
  justify-content: start;
  width: 100%;
}


.sect-productos i {

text-align: center;
margin: 5px;
border-radius: 50%; 
border: 2px solid #39b54a;
color: #39b54a;
padding: 5px 5px 5px 5px;
font-size: 1.2em;
position: absolute;
right: 20px;
top: -15px;
background-color: white;


}


 .descuentos-productos{
  font-size: 16px;
  color: #39b54a;
  width: 70%;
  text-align: right;
}
.precios-productos{
    font-size: 1.5em;
    margin: 1px;
}
.sect-productos h3{
    margin-top: 20px;
    color: #666 ;
}
/* Logo mercadoLibere*/



.logo img{
    margin: 30px 0px 15px 30px ;
    width: 40%;
}
 /* buscador */
.busqueda{
    margin: 0px 0px 15px 15px;
}

/* hamburguesa*/
.burger-menu{
    text-align: center;
    margin-top: 20px;
}
.burger-menu i {
    background-color:#1259c3;
    font-size: 25px;
    padding: 10px 12px;
    border-radius: 6px;
    color: white;
}

/* Pie de pagina Footer*/
footer{
  margin-top: 1.5rem;
  background-color: white;
  padding: 20px;
  text-align: center;
  color: var(--gris-oscuro);
}

.sec-footer{
    text-align: center;
    margin: 100px 40px;
}
.sec-footer i {
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}
.sec-footer p{
    color: #666;
}


ul li a{
  text-decoration: none;
}

.header-nav{
    margin: 10px 0px;
}



.titular {
    font-size: 24px;
}

.producto-precio{
  font-size: 1.5em;
  margin: 1px;
  width: 30%;
}



.cuotas {
    text-align: center;
}


/* Adaptacion */
/* Reglas de estilo generales aquí */



@media screen and (max-width: 361px) {
 
  nav ul {
      display: none; 
  }

  .usuario ul 
  {
    display: none; 
}

.sect-productos {
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  border: 1px solid #ebebeb;
  box-shadow: 0px 0px 10px rgb(100, 100, 100); 
  margin: 10px;

}
  .sect-productos p {
    display: flex;
    width: 100%;
  }
  .sect-productos h3{
    display: none; 
  }
}
 


@media screen and (min-width: 362px) {

  .contenedor-nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: rgb(173, 20, 20);
    align-items: center;
  }
  .contenedor-nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
   background-color: red;
   margin: 0 30px;
   align-items: center;
  }

    .sect-productos {
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
      flex-basis: calc(50% - 10px);
      margin-bottom: 20px;  
      box-sizing: border-box; 
      margin: 0;
      margin-bottom: 20px; 

    }
    

  .contenedor-sec{
    margin: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .burger-menu{
    display: none;
  }
}
  
@media screen and (min-width: 769px) {
  .contenedor-sec{
    margin: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }


.sect-productos {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  flex-basis: calc(25% - 10px); 
  margin-bottom: 20px; 
  box-sizing: border-box; 
  margin: 0;
  margin-bottom: 20px; 

}
.sect-productos p {
  display: flex;
  justify-content: space-between;
  width: 35%;
}
.info-producto{

  justify-content: flex-start;
}
}



/*  Registro */

/* Estilos generales para el formulario */
.formulario {
  max-width: 400px;
  
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  background-color: #ebebeb;
}

/* Estilos para etiquetas */
label {
  display: block;
  margin-bottom: 5px;
}

/* Estilos para inputs de texto */
input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
input[type="file"] {
  width: calc(100% - 12px);
  padding: 6px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilos para radios y checkboxes */
input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
}

/* Estilos para el botón Enviar y Borrar */
input[type="submit"],
input[type="reset"] {
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #0056b3;
}



.regist{
  text-align: center;
 margin: 10px 0px;
}



.login{
  max-width: 100%;
  height: 35vh;
  margin: 0 auto;
  padding: 20px 25%;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  background-color: #ebebeb;
}


.login input[type="text"],
input[type="password"] {
  width: calc(100% - 12px);
  height: 5vh;
  padding: 6px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px; 
}
.login input[type="submit"]{
  width: 98%;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  height: 5vh;
}